.row
  .col-lg-4
  .col-lg-4
  .col-lg-4
    = link_to 'Valid Orders Spreadsheet', admin_orders_show_orders_valid_path(format: :xlsx), class: 'btn btn-success btn-block btn-lg'
  .col-lg-4
%br
= render 'admin/orders/display'
