#content
  .fixed_header
    %h1#full_list_header File List
    #full_list_nav= render "sidebar_links"
    #search
      Search:
      %input{type: "text"}/
  %ul#full_list.file
    %li#object_README.odd
      .item
        %span.object_link
          %a{:href => "index.html", :title => "README"} README
