#content
  .fixed_header
    %h1#full_list_header Method List
    #full_list_nav= render "sidebar_links"
    #search
      Search:
      %input{type: "text"}/
  %ul#full_list.method
    %li.odd
      .item
        %span.object_link= link_to "#add", docs_controllers_carts_controller_path, id: "#add-instance_method", title: "CartsController#add (method)"
        %small CartsController
    %li.even
      .item
        %span.object_link= link_to "#add_item_to_cart", docs_controllers_carts_controller_path, id: "#add_item_to_cart-instance_method", title: "Cart#add_item_to_cart (method)"
        %small Cart
    %li.odd
      .item
        %span.object_link= link_to "#add_role", docs_models_role_path, id: "#add_role-instance_method", title: "User#add_role (method)"
        %small User
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/LayoutsController.html#admin_navigation-instance_method", :title => "Admin::LayoutsController#admin_navigation (method)"} #admin_navigation
        %small Admin::LayoutsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Event.html#almost_over%3F-instance_method", :title => "Event#almost_over? (method)"} #almost_over?
        %small Event
    %li.even
      .item
        %span.object_link
          %a{:href => "ApplicationController.html#auto_update_role-instance_method", :title => "ApplicationController#auto_update_role (method)"} #auto_update_role
        %small ApplicationController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Event.html#available%3F-instance_method", :title => "Event#available? (method)"} #available?
        %small Event
    %li.even
      .item
        %span.object_link
          %a{:href => "top-level-namespace.html#branch-instance_method", :title => "#branch (method)"} #branch
        %small Top Level Namespace
    %li.odd
      .item
        %span.object_link
          %a{:href => "Cart.html#build_from_hash-class_method", :title => "Cart.build_from_hash (method)"} build_from_hash
        %small Cart
    %li.even
      .item
        %span.object_link
          %a{:href => "OrderProduct.html#calculate_total-instance_method", :title => "OrderProduct#calculate_total (method)"} #calculate_total
        %small OrderProduct
    %li.odd
      .item
        %span.object_link
          %a{:href => "OrderProductsController.html#cancel-instance_method", :title => "OrderProductsController#cancel (method)"} #cancel
        %small OrderProductsController
    %li.even
      .item
        %span.object_link
          %a{:href => "OrdersController.html#cancel-instance_method", :title => "OrdersController#cancel (method)"} #cancel
        %small OrdersController
    %li.odd
      .item
        %span.object_link
          %a{:href => "ApplicationController.html#cart_initializer-instance_method", :title => "ApplicationController#cart_initializer (method)"} #cart_initializer
        %small ApplicationController
    %li.even
      .item
        %span.object_link
          %a{:href => "User.html#check_nullity%3F-instance_method", :title => "User#check_nullity? (method)"} #check_nullity?
        %small User
    %li.odd
      .item
        %span.object_link
          %a{:href => "Order.html#check_status-instance_method", :title => "Order#check_status (method)"} #check_status
        %small Order
    %li.even
      .item
        %span.object_link
          %a{:href => "OrderProduct.html#check_status-instance_method", :title => "OrderProduct#check_status (method)"} #check_status
        %small OrderProduct
    %li.odd
      .item
        %span.object_link
          %a{:href => "OrderProduct.html#check_stock-instance_method", :title => "OrderProduct#check_stock (method)"} #check_stock
        %small OrderProduct
    %li.even
      .item
        %span.object_link
          %a{:href => "CartsController.html#clear-instance_method", :title => "CartsController#clear (method)"} #clear
        %small CartsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Cart.html#clear_cart-instance_method", :title => "Cart#clear_cart (method)"} #clear_cart
        %small Cart
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/RolesController.html#create-instance_method", :title => "Admin::RolesController#create (method)"} #create
        %small Admin::RolesController
    %li.odd
      .item
        %span.object_link
          %a{:href => "OrderProductsController.html#create-instance_method", :title => "OrderProductsController#create (method)"} #create
        %small OrderProductsController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/EventsController.html#create-instance_method", :title => "Admin::EventsController#create (method)"} #create
        %small Admin::EventsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/CategoriesController.html#create-instance_method", :title => "Admin::CategoriesController#create (method)"} #create
        %small Admin::CategoriesController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/ProductsController.html#create-instance_method", :title => "Admin::ProductsController#create (method)"} #create
        %small Admin::ProductsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "RestoreController.html#create-instance_method", :title => "RestoreController#create (method)"} #create
        %small RestoreController
    %li.even
      .item
        %span.object_link
          %a{:href => "OrdersController.html#create-instance_method", :title => "OrdersController#create (method)"} #create
        %small OrdersController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/AttachmentsController.html#create-instance_method", :title => "Admin::AttachmentsController#create (method)"} #create
        %small Admin::AttachmentsController
    %li.even
      .item
        %span.object_link
          %a{:href => "OrderMailer.html#decline-instance_method", :title => "OrderMailer#decline (method)"} #decline
        %small OrderMailer
    %li.odd
      .item
        %span.object_link
          %a{:href => "OrderProductMailer.html#decline-instance_method", :title => "OrderProductMailer#decline (method)"} #decline
        %small OrderProductMailer
    %li.even
      .item
        %span.object_link
          %a{:href => "CartItem.html#decrement-instance_method", :title => "CartItem#decrement (method)"} #decrement
        %small CartItem
    %li.odd
      .item
        %span.object_link
          %a{:href => "Order.html#decrement_max_order-instance_method", :title => "Order#decrement_max_order (method)"} #decrement_max_order
        %small Order
    %li.even
      .item
        %span.object_link
          %a{:href => "OrderProduct.html#decrement_product-instance_method", :title => "OrderProduct#decrement_product (method)"} #decrement_product
        %small OrderProduct
    %li.odd
      .item
        %span.object_link
          %a{:href => "User.html#del_cache-instance_method", :title => "User#del_cache (method)"} #del_cache
        %small User
    %li.even
      .item
        %span.object_link
          %a{:href => "Cart.html#delete_item_from_cart-instance_method", :title => "Cart#delete_item_from_cart (method)"} #delete_item_from_cart
        %small Cart
    %li.odd
      .item
        %span.object_link
          %a{:href => "UsersController.html#destroy-instance_method", :title => "UsersController#destroy (method)"} #destroy
        %small UsersController
    %li.even
      .item
        %span.object_link
          %a{:href => "ApplicationHelper.html#display_flash-instance_method", :title => "ApplicationHelper#display_flash (method)"} #display_flash
        %small ApplicationHelper
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/EventsController.html#edit-instance_method", :title => "Admin::EventsController#edit (method)"} #edit
        %small Admin::EventsController
    %li.even
      .item
        %span.object_link
          %a{:href => "Cart.html#empty%3F-instance_method", :title => "Cart#empty? (method)"} #empty?
        %small Cart
    %li.odd
      .item
        %span.object_link
          %a{:href => "ApplicationHelper.html#errors_for-instance_method", :title => "ApplicationHelper#errors_for (method)"} #errors_for
        %small ApplicationHelper
    %li.even
      .item
        %span.object_link
          %a{:href => "Order.html#extended_status-instance_method", :title => "Order#extended_status (method)"} #extended_status
        %small Order
    %li.odd
      .item
        %span.object_link
          %a{:href => "OrderProduct.html#extended_status-instance_method", :title => "OrderProduct#extended_status (method)"} #extended_status
        %small OrderProduct
    %li.even
      .item
        %span.object_link
          %a{:href => "CkeditorPictureUploader.html#extension_white_list-instance_method", :title => "CkeditorPictureUploader#extension_white_list (method)"} #extension_white_list
        %small CkeditorPictureUploader
    %li.odd
      .item
        %span.object_link
          %a{:href => "CkeditorAttachmentFileUploader.html#extension_white_list-instance_method", :title => "CkeditorAttachmentFileUploader#extension_white_list (method)"} #extension_white_list
        %small CkeditorAttachmentFileUploader
    %li.even
      .item
        %span.object_link
          %a{:href => "AttachmentUploader.html#extension_whitelist-instance_method", :title => "AttachmentUploader#extension_whitelist (method)"} #extension_whitelist
        %small AttachmentUploader
    %li.odd
      .item
        %span.object_link
          %a{:href => "User.html#full_name-instance_method", :title => "User#full_name (method)"} #full_name
        %small User
    %li.even
      .item
        %span.object_link
          %a{:href => "User.html#has_role%3F-instance_method", :title => "User#has_role? (method)"} #has_role?
        %small User
    %li.odd
      .item
        %span.object_link
          %a{:href => "CartItem.html#increment-instance_method", :title => "CartItem#increment (method)"} #increment
        %small CartItem
    %li.even
      .item
        %span.object_link
          %a{:href => "Order.html#increment_max_order-instance_method", :title => "Order#increment_max_order (method)"} #increment_max_order
        %small Order
    %li.odd
      .item
        %span.object_link
          %a{:href => "OrderProduct.html#increment_product-instance_method", :title => "OrderProduct#increment_product (method)"} #increment_product
        %small OrderProduct
    %li.even
      .item
        %span.object_link
          %a{:href => "ProductsController.html#index-instance_method", :title => "ProductsController#index (method)"} #index
        %small ProductsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/OrderProductsController.html#index-instance_method", :title => "Admin::OrderProductsController#index (method)"} #index
        %small Admin::OrderProductsController
    %li.even
      .item
        %span.object_link
          %a{:href => "HomeController.html#index-instance_method", :title => "HomeController#index (method)"} #index
        %small HomeController
    %li.odd
      .item
        %span.object_link
          %a{:href => "AdminController.html#index-instance_method", :title => "AdminController#index (method)"} #index
        %small AdminController
    %li.even
      .item
        %span.object_link
          %a{:href => "EventsController.html#index-instance_method", :title => "EventsController#index (method)"} #index
        %small EventsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/CategoriesController.html#index-instance_method", :title => "Admin::CategoriesController#index (method)"} #index
        %small Admin::CategoriesController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/RolesController.html#index-instance_method", :title => "Admin::RolesController#index (method)"} #index
        %small Admin::RolesController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/UsersController.html#index-instance_method", :title => "Admin::UsersController#index (method)"} #index
        %small Admin::UsersController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/EventsController.html#index-instance_method", :title => "Admin::EventsController#index (method)"} #index
        %small Admin::EventsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/OrdersController.html#index-instance_method", :title => "Admin::OrdersController#index (method)"} #index
        %small Admin::OrdersController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/ProductsController.html#index-instance_method", :title => "Admin::ProductsController#index (method)"} #index
        %small Admin::ProductsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Cart.html#initialize-instance_method", :title => "Cart#initialize (method)"} #initialize
        %small Cart
    %li.even
      .item
        %span.object_link
          %a{:href => "CartItem.html#initialize-instance_method", :title => "CartItem#initialize (method)"} #initialize
        %small CartItem
    %li.odd
      .item
        %span.object_link
          %a{:href => "Ability.html#initialize-instance_method", :title => "Ability#initialize (method)"} #initialize
        %small Ability
    %li.even
      .item
        %span.object_link
          %a{:href => "Cart.html#items-instance_method", :title => "Cart#items (method)"} #items
        %small Cart
    %li.odd
      .item
        %span.object_link
          %a{:href => "OrderProductsController.html#make_purchase-instance_method", :title => "OrderProductsController#make_purchase (method)"} #make_purchase
        %small OrderProductsController
    %li.even
      .item
        %span.object_link
          %a{:href => "OrdersController.html#make_purchase-instance_method", :title => "OrdersController#make_purchase (method)"} #make_purchase
        %small OrdersController
    %li.odd
      .item
        %span.object_link
          %a{:href => "ApplicationHelper.html#markdown-instance_method", :title => "ApplicationHelper#markdown (method)"} #markdown
        %small ApplicationHelper
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/ProductsController.html#new-instance_method", :title => "Admin::ProductsController#new (method)"} #new
        %small Admin::ProductsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "RestoreController.html#new-instance_method", :title => "RestoreController#new (method)"} #new
        %small RestoreController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/EventsController.html#new-instance_method", :title => "Admin::EventsController#new (method)"} #new
        %small Admin::EventsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/CategoriesController.html#new-instance_method", :title => "Admin::CategoriesController#new (method)"} #new
        %small Admin::CategoriesController
    %li.even
      .item
        %span.object_link
          %a{:href => "ApplicationHelper.html#object_actions-instance_method", :title => "ApplicationHelper#object_actions (method)"} #object_actions
        %small ApplicationHelper
    %li.odd
      .item
        %span.object_link
          %a{:href => "ProductWorker.html#perform-instance_method", :title => "ProductWorker#perform (method)"} #perform
        %small ProductWorker
    %li.even
      .item
        %span.object_link
          %a{:href => "ThumbnailWorker.html#perform-instance_method", :title => "ThumbnailWorker#perform (method)"} #perform
        %small ThumbnailWorker
    %li.odd
      .item
        %span.object_link
          %a{:href => "Order.html#perform_total_calculation-instance_method", :title => "Order#perform_total_calculation (method)"} #perform_total_calculation
        %small Order
    %li.even
      .item
        %span.object_link
          %a{:href => "User.html#phone_to_int-instance_method", :title => "User#phone_to_int (method)"} #phone_to_int
        %small User
    %li.odd
      .item
        %span.object_link
          %a{:href => "CartItem.html#product-instance_method", :title => "CartItem#product (method)"} #product
        %small CartItem
    %li.even
      .item
        %span.object_link
          %a{:href => "CartItem.html#product_id-instance_method", :title => "CartItem#product_id (method)"} #product_id
        %small CartItem
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/ProductsController.html#publish-instance_method", :title => "Admin::ProductsController#publish (method)"} #publish
        %small Admin::ProductsController
    %li.even
      .item
        %span.object_link
          %a{:href => "OrdersController.html#purchase-instance_method", :title => "OrdersController#purchase (method)"} #purchase
        %small OrdersController
    %li.odd
      .item
        %span.object_link
          %a{:href => "OrderProductsController.html#purchase-instance_method", :title => "OrderProductsController#purchase (method)"} #purchase
        %small OrderProductsController
    %li.even
      .item
        %span.object_link
          %a{:href => "CartItem.html#quantity-instance_method", :title => "CartItem#quantity (method)"} #quantity
        %small CartItem
    %li.odd
      .item
        %span.object_link
          %a{:href => "ApplicationRecord.html#redis_search-class_method", :title => "ApplicationRecord.redis_search (method)"} redis_search
        %small ApplicationRecord
    %li.even
      .item
        %span.object_link
          %a{:href => "OrderMailer.html#refund-instance_method", :title => "OrderMailer#refund (method)"} #refund
        %small OrderMailer
    %li.odd
      .item
        %span.object_link
          %a{:href => "OrderProductMailer.html#refund-instance_method", :title => "OrderProductMailer#refund (method)"} #refund
        %small OrderProductMailer
    %li.even
      .item
        %span.object_link
          %a{:href => "CartsController.html#remove-instance_method", :title => "CartsController#remove (method)"} #remove
        %small CartsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "User.html#remove_role-instance_method", :title => "User#remove_role (method)"} #remove_role
        %small User
    %li.even
      .item
        %span.object_link
          %a{:href => "Cart.html#serialize-instance_method", :title => "Cart#serialize (method)"} #serialize
        %small Cart
    %li.odd
      .item
        %span.object_link
          %a{:href => "Product.html#set_success-instance_method", :title => "Product#set_success (method)"} #set_success
        %small Product
    %li.even
      .item
        %span.object_link
          %a{:href => "CartsController.html#show-instance_method", :title => "CartsController#show (method)"} #show
        %small CartsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "EventsController.html#show-instance_method", :title => "EventsController#show (method)"} #show
        %small EventsController
    %li.even
      .item
        %span.object_link
          %a{:href => "OrderProductsController.html#show-instance_method", :title => "OrderProductsController#show (method)"} #show
        %small OrderProductsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/OrdersController.html#show_orders_canceled-instance_method", :title => "Admin::OrdersController#show_orders_canceled (method)"} #show_orders_canceled
        %small Admin::OrdersController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/OrdersController.html#show_orders_declined-instance_method", :title => "Admin::OrdersController#show_orders_declined (method)"} #show_orders_declined
        %small Admin::OrdersController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/OrdersController.html#show_orders_pending-instance_method", :title => "Admin::OrdersController#show_orders_pending (method)"} #show_orders_pending
        %small Admin::OrdersController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/OrdersController.html#show_orders_progress-instance_method", :title => "Admin::OrdersController#show_orders_progress (method)"} #show_orders_progress
        %small Admin::OrdersController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/OrdersController.html#show_orders_refunded-instance_method", :title => "Admin::OrdersController#show_orders_refunded (method)"} #show_orders_refunded
        %small Admin::OrdersController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/OrdersController.html#show_orders_valid-instance_method", :title => "Admin::OrdersController#show_orders_valid (method)"} #show_orders_valid
        %small Admin::OrdersController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/LayoutsController.html#show_user_info-instance_method", :title => "Admin::LayoutsController#show_user_info (method)"} #show_user_info
        %small Admin::LayoutsController
    %li.even
      .item
        %span.object_link
          %a{:href => "AttachmentUploader.html#store_dir-instance_method", :title => "AttachmentUploader#store_dir (method)"} #store_dir
        %small AttachmentUploader
    %li.odd
      .item
        %span.object_link
          %a{:href => "CkeditorPictureUploader.html#store_dir-instance_method", :title => "CkeditorPictureUploader#store_dir (method)"} #store_dir
        %small CkeditorPictureUploader
    %li.even
      .item
        %span.object_link
          %a{:href => "CkeditorAttachmentFileUploader.html#store_dir-instance_method", :title => "CkeditorAttachmentFileUploader#store_dir (method)"} #store_dir
        %small CkeditorAttachmentFileUploader
    %li.odd
      .item
        %span.object_link
          %a{:href => "ApplicationRecord.html#strtoarr-class_method", :title => "ApplicationRecord.strtoarr (method)"} strtoarr
        %small ApplicationRecord
    %li.even
      .item
        %span.object_link
          %a{:href => "ApplicationHelper.html#text_icon-instance_method", :title => "ApplicationHelper#text_icon (method)"} #text_icon
        %small ApplicationHelper
    %li.odd
      .item
        %span.object_link
          %a{:href => "CartItem.html#total_price-instance_method", :title => "CartItem#total_price (method)"} #total_price
        %small CartItem
    %li.even
      .item
        %span.object_link
          %a{:href => "Cart.html#total_price-instance_method", :title => "Cart#total_price (method)"} #total_price
        %small Cart
    %li.odd
      .item
        %span.object_link
          %a{:href => "OrderProduct.html#total_tax-instance_method", :title => "OrderProduct#total_tax (method)"} #total_tax
        %small OrderProduct
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/ProductsController.html#unpublish-instance_method", :title => "Admin::ProductsController#unpublish (method)"} #unpublish
        %small Admin::ProductsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "OrdersController.html#update-instance_method", :title => "OrdersController#update (method)"} #update
        %small OrdersController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/ProductsController.html#update-instance_method", :title => "Admin::ProductsController#update (method)"} #update
        %small Admin::ProductsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/OrdersController.html#update-instance_method", :title => "Admin::OrdersController#update (method)"} #update
        %small Admin::OrdersController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/EventsController.html#update-instance_method", :title => "Admin::EventsController#update (method)"} #update
        %small Admin::EventsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "OrderProductsController.html#update-instance_method", :title => "OrderProductsController#update (method)"} #update
        %small OrderProductsController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/UsersController.html#update-instance_method", :title => "Admin::UsersController#update (method)"} #update
        %small Admin::UsersController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/RolesController.html#update-instance_method", :title => "Admin::RolesController#update (method)"} #update
        %small Admin::RolesController
    %li.even
      .item
        %span.object_link
          %a{:href => "UsersController.html#update-instance_method", :title => "UsersController#update (method)"} #update
        %small UsersController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/CategoriesController.html#update-instance_method", :title => "Admin::CategoriesController#update (method)"} #update
        %small Admin::CategoriesController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/OrderProductsController.html#update-instance_method", :title => "Admin::OrderProductsController#update (method)"} #update
        %small Admin::OrderProductsController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/OrderProductsController.html#update_stock_totals-instance_method", :title => "Admin::OrderProductsController#update_stock_totals (method)"} #update_stock_totals
        %small Admin::OrderProductsController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/OrdersController.html#update_stock_totals-instance_method", :title => "Admin::OrdersController#update_stock_totals (method)"} #update_stock_totals
        %small Admin::OrdersController
    %li.odd
      .item
        %span.object_link
          %a{:href => "Ckeditor/Picture.html#url_content-instance_method", :title => "Ckeditor::Picture#url_content (method)"} #url_content
        %small Ckeditor::Picture
    %li.even
      .item
        %span.object_link
          %a{:href => "Ckeditor/AttachmentFile.html#url_thumb-instance_method", :title => "Ckeditor::AttachmentFile#url_thumb (method)"} #url_thumb
        %small Ckeditor::AttachmentFile
    %li.odd
      .item
        %span.object_link
          %a{:href => "Admin/OrderProductsController.html#validate-instance_method", :title => "Admin::OrderProductsController#validate (method)"} #validate
        %small Admin::OrderProductsController
    %li.even
      .item
        %span.object_link
          %a{:href => "Admin/OrdersController.html#validate-instance_method", :title => "Admin::OrdersController#validate (method)"} #validate
        %small Admin::OrdersController
