/*
 * This is a manifest file that'll be compiled into admin.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require video-js
 *= require bootstrap-select.min
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "sb-admin-2";
@import "sb-admin-2.min";
@import "card";
@import "table";
@import "home";

body {
  background-color: $white;
}
h1,
h2,
h3 {
  text-align: center;
  color: $maroon;
  font-weight: bold;
}

h2 {
  font-size: 60px;
}
img.product {
  width: 100%;
  height: 100%;
}

video.video {
  width: 100%;
  height: 100%;
}

.result-container {
  .popover{
    max-width: 100%;
    width: 100%;
  }

  .popover-content {
    padding: 0;
    height: auto;
    max-height: 250px;
    overflow-y: auto;

    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
  }

 .srd {
   border-left: 0;
   border-right: 0;
 }
}

.navbar.admin-nav {
  background-color: $maroon;
  height: 100px;
  padding: 15px;
}
.navbar-brand {
  color: $white !important;
  font-size: 60px;
  text-align: center;
}
.navbar-nav li a {
  color: $white !important;
  font-size: 20px;
}
.navbar-nav li .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: $maroon;
    a {
      color: $white;
    }
}

.panel.panel-purple {
  background-color: #a93da9;
  color: $white;
}

.panel.panel-pink {
  background-color: #e60073;
  color: $white;
}

.btn-grey {
  background-color: #e7e7e7;
  color: black;
}

.btn-lt-purple {
  background-color: #DDA0DD; /* Plum */
  color: $white;
}

.btn-lt-purple:hover {
  color: $white;
  background-color: #a93da9;
}

.btn-pink {
  background-color: #FF69B4; /* Hot Pink */
  color: $white;
}

.btn-pink:hover {
  color: $white;
  background-color: #e60073;
}

.refund {
  background-color: #ffe2fa; /* Light Pink */
}

.pagination {
  font-family: Arial;
  font-size: 19px;
  background: none;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $black;
    overflow-x: hidden;
    padding-top: 120px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#main {
    margin-left: 300px;
    padding: 50px;
}
/*********************************************
		          users show page
*********************************************/
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: rgb(222, 222, 222);
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
