/*
CSS File for admin interface
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "card";
@import "footer";
@import "table";

body {
  background-color: $white;
}
h2 {
  text-align: center;
  font-size: 60px;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
}
.alert-warning {
  border-radius: 25px;
  border: none;
  background-color: #e25851;
  color: $black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-size: 20px;
}
.navbar {
  background-color: $maroon;
}
.navbar-brand {
  color: $white !important;
  font-size: 60px;
  text-align: center;
}
.navbar-header.white {
  background-color: $white;
}
.navbar-default {
  .navbar-nav li a {
    color: $white !important;
    font-size: 20px;
  }
}
.navbar-nav li .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: $maroon;
    a {
      color: $white;
    }
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $black;
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#main {
    margin-left: 300px;
    padding: 50px;
}
