/* Establish the Vertical Rhythm */
$line-height: 1.2857em;
$half-line-height: $line-height / 2;
$double-line-height: $line-height * 2;

$white: rgb(255,255,255);
$off-white: rgb(249,248,247);

$black: rgb(0,0,0);
$gray: rgb(110,110,110);
$gray-light: rgb(224,227,227);
$gray-mid-light: rgb(173,173,173);
$gray-dark: rgb(50,50,50);
$gray-medium: rgb(58,56,57);
$gray-mid-light-2: rgb(143,143,136);
$gray-mid-light-3: rgb(82,83,81);

$maroon: #660000;
$maroon-medium: rgb(71,0,0);
$maroon-dark: rgb(51,0,0);

$khaki: rgb(217,214,203);
$khaki-extra-light: rgb(255,250,238);
$khaki-light: rgb(231,229,218);
$khaki-mid-light: rgb(236,234,227);

$khaki-dark: rgb(130,105,71);
$khaki-very-dark: rgb(59,48,32);
$khaki-amber: rgb(172,125,67);

$blue: #246181;
$blue-dark: rgb(17,48, 64);

$green: rgb(67,87,47);
$green-dark: rgb(42,54,29);

//neon-glows
$yellow-glow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #fff83f , 0 0 70px #fff83f , 0 0 80px #fff83f , 0 0 100px #fff83f;
$green-glow:  0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #59ff00 , 0 0 70px #59ff00 , 0 0 80px #59ff00 , 0 0 100px #59ff00;
