@import "colors";

footer {
  margin: auto !important;
  background-color: #222;
  color: $white;
  bottom: 0 !important;
  section {
    width: auto;
    float: left;
    h2 {
      text-transform: uppercase;
      margin-top: 0;
    }
    ul {
      margin-top: 0;
      list-style-type: none;
      li {
        text-transform: uppercase;
        margin-bottom: $line-height;
      }
    }
    a {
      img {
        padding-right: $half-line-height / 2;
      }
      color: $white;
      text-decoration: none;
    }
    p {
      margin-top: $line-height;
    }
  }
  .footer-links ul li {
    display: inline;
    font-weight: 400;
    padding-right: 4px;
    border-right: 1px solid #FFF;
    margin: auto;
  }
  .footer-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    border-top: 1px solid #4D4D4D;
  }
  section.seal {
    margin: auto;
    div.AuthorizeNetSeal {
      float: right;
    }
    a#AuthorizeNetText {
      color: $white;
    }
  }
}
