@import "colors";

footer {
  margin: auto !important;
  height: 100%;
  background-color: #222;
  color: $white;
  bottom: 0 !important;
  section {
    width: auto;
    float: left;
    h2 {
      text-transform: uppercase;
      margin-top: 0;
    }
    ul {
      margin-top: 0;
      list-style-type: none;
      padding-left: 0px;
      li {
        text-transform: uppercase;
        margin-bottom: $line-height;
      }
    }
    a {
      img {
        padding-right: $half-line-height / 2;
      }
      color: $white;
      text-decoration: none !important;
    }
    a:hover {
      color: $white;
    }
    p {
      margin-top: $line-height;
    }
  }
  .footer-links ul li {
    display: inline;
    font-weight: 400;
    padding-right: 4px;
    border-right: 1px solid #FFF;
    margin: auto;
  }
  .footer-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 100px;
    /* force footer to look good */
    @media screen and (max-width: 2100px){ padding-bottom: 100px; }
    @media screen and (max-width: 1700px){ padding-bottom: 150px;  }
    @media screen and (max-width: 1200px){ padding-bottom: 200px;  }
    @media screen and (max-width: 1000px){ padding-bottom: 250px;  }
    @media screen and (max-width: 800px) { padding-bottom: 300px;  }
    @media screen and (max-width: 500px) { padding-bottom: 100%; }
    padding-top: 50px;
    border-top: 1px solid #4D4D4D;
  }
  section.seal {
    margin: auto;
    div.AuthorizeNetSeal {
      float: right;
    }
    a#AuthorizeNetText {
      color: $white;
    }
  }
}
