// https://github.com/mrvncaragay/rails-redis-search/blob/master/app/views/searches/index.js.erb

var elements = $()

<% unless @users.nil? %>
  var _users = <%= @users[:data].to_json.html_safe %>
    $(_users).each(function (i) {
      elements = elements.add('<a href=/admin/layouts/show_user_info/' + _users[i][0] + ' class="list-group-item srd">' + '<img src="' + _users[i][4] + '">' + ' ' + _users[i][1] + ' ' + _users[i][2] + ' ' + _users[i][3] + '</a>')
    })
<% else %>

$('.result-container .popover-content').css({'overflow-y': 'hidden', 'height': 'auto'})
elements = elements.add('<div class="list-group-item srd">' + "No results found." + '</div>')

<% end %>

$('#redis_field_form').popover({
  trigger: 'manual',
  html: true,
  placement: 'bottom',
  containter: '.result-container',
  content: function() {
    return (elements)
  }
}).on('input', function(e){
  e.preventDefault();
}).popover('show')
