!!!
%html
  %head
    %title Direct Post Sample App
    :css
      body {
        text-align: center;
        font-family: Helvetica;
      }
      label {
        display: block;
      }
  %body
    = yield
