!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title Events Documentation

  = stylesheet_link_tag 'docs'
  = javascript_include_tag 'docs'
  %base#base_target{target: "_parent"}

%body
  = yield
