.container-fluid
  .content-wrapper
    %h1 Purchasing Instructions:
    %br/
    %ol
      %li Select: Sign Up
      %br
      %li Enter email and password, verify reCAPTCHA, and click Sign up
      %br
      %li Go to Email and click to confirm your account, verify email address is successfully confirmed
      %br
      %li Click Login, enter Email and Password, click Login
      %br
      %li Click Show on the Schneider Eclipse event
      %br
      %li Click Update Account to add billing information, complete your profile and click Submit
      %br
      %li Verify the Green box says: Successfully updated
      %br
      %li Click Home Page to return to site to purchase the Eclipse Suite
      %br
      %li Click Show on the Schneider Eclipse Event
      %br
      %li Click Order
      %br
      %li Check Terms and conditions to review Terms and Conditions, and Assumption of Risk
      %br
      %li Close window for Terms and Conditions, and return to your order
      %br
      %li Check box to agree to Terms and Conditions, and Click Order
      %br
      %li Click Proceed to Checkout to purchase the event
      %br
      %li Enter Credit Card information and Click Purchase
      %br
      
