.container-fluid
  .content-wrapper
    -#%h1 Purchasing Instructions:
    %br/
    -#%ol
      %li Visit:  https://events.housing.siu.edu
      %br
      %li Select: Sign Up
      %br
      %li Enter email and password, verify reCAPTCHA, and click Sign up
      %br
      %li Go to Email and click to confirm your account, verify email address is successfully confirmed
      %br
      %li Click Login, enter Email and Password, click Login
      %br
      %li Click Show on the Eclipse Housing event
      %br
      %li Click Update Account to add billing information, complete your profile and click Submit
      %br
      %li Verify the Green box says: Successfully updated
      %br
      %li Click Home Page to return to site to purchase the Eclipse Suite
      %br
      %li Click Show on the Eclipse Housing Event
      %br
      %li Click Order
      %br
      %li Check Terms and conditions to review Terms and Conditions, and Assumption of Risk
      %br
      %li Close window for Terms and Conditions, and return to your order
      %br
      %li Check box to agree to Terms and Conditions, and Click Order
      %br
      %li Click Proceed to Checkout to purchase the event
      %br
      %li Enter Credit Card information and Click Purchase
      %br
    %h1 Meal Plans and Parking Pass Purchasing Instructions:
    %br/
    %ol
      %li Log into the site:  https://events.housing.siu.edu, Click "View Details" in the "Orders" section to see the Meal Plan and Parking Pass products
      %br
      %li Click "Add to Cart" on Each Item (Meal Plan or Parking Pass)
      %br
      %li Click on Shopping Cart Emblem in the upper right hand corner
      %br
      %li Review Quantity Of Each item, Click on "Order!" In the lower right hand corner
      %br
      %li Before Placing Order, update quantity of each item, then click "Place Order"
      %br
      %li Review Order Summary screen, you may modify the order again by clicking "Modify Order", or "Proceed to Checkout"
      %br
      %li Click "Order"
      %br
      %li Enter Credit Card information and Click Purchase
      %br
      %li Review Receipt and click "Orders" to return to your Orders screen to review all purchases
      %br
      %li A maximum of 8 Meal plans and 2 parking passes may be ordered for each suite purchased.
      %br
