.box-container
  %h1 Terms and Conditions:

1)	All Sales are Final.  Payment in full is due at the time of reservation and there will be NO REFUNDS under any circumstances including but not limited to weather conditions, ability to travel to Carbondale, etc.

2)	Guests are contracting for a 4-bed suite in a campus residence hall (dormitory). A suite consists of two residence hall rooms joined by a common restroom with two beds per room for a total of 4 extra-long twin beds per suite. Extra beds or roll away beds will not be available from the University.  Guests may provide their own inflatable mattresses and sleeping bags for up to a maximum of 8 people per suite. Guests will have access to complimentary campus wifi. Rooms do NOT contain televisions, coffee makers, etc. Shared television rooms are located on most floors and in the Schneider lobby.

3)	Suite rental is based upon a 3 night stay regardless of arrival and departure dates and times.  Occupancy is only available between 11:00 am on Saturday August 19, 2017 and 11:00 am Tuesday August 22, 2017.  Regardless of duration of stay, all guests must be checked out by 11:00 a.m. on Tuesday August 22, 2017.

4)	Rental rate is $900.00 per suite plus all applicable taxes.  Total charges are applied regardless of the time the suite is actually occupied.

5)	Guests will be issued an identifying wristband upon check-in that must be visible on each guest to gain entry into Schneider Hall. Guests are required to keep their wristband on throughout their stay.

6)	A dining package is available exclusively for Eclipse Housing guests at the time of booking a suite. A separate dining package is required for each guest. Children under three may eat for free. Guests purchasing the dining package will have unlimited and all-you-care-to-eat access to <a href="http://housing.siu.edu/dining/halls">TRUEBLOOD DINING HALL</a> during their stay. Other campus visitors and Schneider guests who do not purchase the dining plan at the time of room reservation will not have access to the dining hall during the eclipse weekend. Guests purchasing the dining package will receive a second wristband denoting participation in the dining package and must present the wristband on their wrist for entry into <a href="http://housing.siu.edu/dining/halls">TRUEBLOOD DINING HALL</a>. Guests are required to keep their wristband on throughout their stay. Dining packages are $90 per person plus all applicable taxes and are non-refundable under any circumstances.

7)	Linens will only be provided for the 4 university beds in each suite.  Linens include:  mattress pad, two sheets, pillow and pillow case, and a blanket for each bed.  Towels and washcloths for 4 people will be provided, with exchange service available at the front desk on a daily basis.

8)	Commemorative SIU eclipse viewing glasses will be provided for up to 4 guests per reservation.  Additional glasses are available upon request at the time of check-in for a nominal fee.

9)	There are no pets allowed.

10)	Smoking is prohibited on all SIU owned property.  Smoking will not be permitted within Schneider Hall or anywhere on campus grounds. Smoking on SIU property is only allowed within personal vehicles.

11)	Alcohol is prohibited within Schneider Hall and open carry is not permitted on campus grounds

12)	Guests found to be in violation of the policies outlined above, or that fail to comply with requests or instructions from an SIU staff member, will be removed from the premises without refund of payment.


13)	All guests (including parents on behalf of minors) will be required to sign an <a href="http://localhost:3000/layouts/risk">assumption of risk</a> before access is granted to Schneider Hall accommodations.

14)	Southern Illinois University is an institution of higher learning.  Any conduct that impedes or diminishes a student’s ability to participate in the learning experience will not be tolerated.  Guests that are involved in conduct that negatively impacts a student’s experience will be removed from the premises, and when applicable, prosecuted to the fullest extent of the law.
